@media (max-width: 768px) {
  .layout {
    flex-direction: row;
  }
  .project-img {
    height: 100% !important;
  }

  .card {
    min-height: 400px !important;
    min-width: 500px !important;
  }
}
@media (max-width: 500px) {
  .layout {
    flex-direction: column;
    margin: 'auto';
  }
  .card {
    min-height: 250px !important;
    min-width: 325px !important;
  }
  .heading {
    font-size: 0.8rem !important;
  }
  .desc {
    font-size: 0.7rem !important;
  }
}

@media (max-width: 320px) {
  .card {
    min-height: 225px !important;
    min-width: 275px !important;
  }
}
