.projects-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  max-height: 370px;
  max-width: 400px;
  margin: 0.7rem;
}

.projects-linkgroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .projects-layout {
    flex-direction: column;
  }
  .project-img {
    height: 100%;
  }
}
@media (min-width: 601px) and (max-width: 767px) {
  .card {
    max-width: 400px;
  }
  .heading {
    font-size: 0.8rem;
  }
  .desc {
    font-size: 0.7rem;
  }
}

@media (max-width: 600px) {
  .card {
    max-width: 350px;
  }
  .heading {
    font-size: 0.8rem;
  }
  .desc {
    font-size: 0.7rem;
  }
}

@media (max-width: 320px) {
  .card {
    max-width: 275px;
  }
}
@media (max-width: 280px) {
  .card {
    max-width: 225px;
  }
}
