@media (max-width: 700px) {
  .skills {
    flex-direction: column !important;
    align-content: center !important;
  }
}
@media (max-width: 500px) {
  .skills {
    flex-direction: column !important;
  }

  .skills-img {
    display: none !important;
  }
}
