.skills-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills-img {
  background-image: url('../../../assets/img/skills.gif');
  background-size: cover;
  background-position: center;
  height: 174px !important;
  width: 450px !important;
}

.skills-card {
  min-height: 325px;
  min-width: 250px;
  margin-bottom: 0;
}

.skills-card:hover {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.skills-icon {
  width: 25px;
  height: 25px;
}

.cursor {
  cursor: pointer;
}

.postman-icon {
  width: 15px;
  height: 15px;
}

.hover-orange:focus,
.hover-orange:hover {
  color: #ff6300;
  fill: #ff6300;
}

@media (max-width: 768px) {
  .skills-layout {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: 'center' !important;
  }
}

@media (max-width: 500px) {
  .skills-img {
    display: none !important;
  }
}
