.wrapper {
  min-height: 80vh;
}

@media (max-width: 1024px) {
  .wrapper {
    min-height: 90vh;
  }
}

@media (max-width: 768px) {
  .wrapper {
    min-height: 84vh;
  }
}

@media (max-width: 540px) {
  .wrapper {
    min-height: 77vh;
  }
}
@media (max-width: 420px) {
  .wrapper {
    min-height: 80vh;
  }
}

@media (max-width: 360px) {
  .wrapper {
    min-height: 77vh;
  }
}

@media (max-width: 320px) {
  .wrapper {
    min-height: 73vh;
  }
}
