.break {
  display: none;
}
@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .aboutImg {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about img {
    height: 225px;
    width: 450px;
  }
  .break {
    display: block;
    margin-top: 40px;
    margin-bottom: -20px;
  }
}

@media (max-width: 500px) {
  .about {
    flex-direction: column;
    text-align: left;
  }
  .social {
    display: none;
  }

  .break {
    display: none;
  }

  .aboutImg {
    display: none;
  }
}
