.break {
  display: none;
}

@media (min-width: 851px) and (max-width: 1250px) {
  .aboutImg img {
    height: 300px;
    min-width: 350px;
  }
}
@media (min-width: 769px) and (max-width: 850px) {
  .aboutImg img {
    height: 250px;
    min-width: 300px;
  }
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .aboutImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .aboutImg img {
    height: 250px;
    width: 300px;
  }
  .break {
    display: block;
    margin-top: 40px;
    margin-bottom: -20px;
  }
}

@media (max-width: 500px) {
  .about {
    flex-direction: column;
    text-align: left;
  }
  .social {
    display: none;
  }

  .break {
    display: none;
  }

  .aboutImg {
    display: none;
  }
}
